header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px 0 15px;
}

header div {
    width: 24px;
}

header div img {
    max-width: 30px;
}